<h1> HEY HEYYYY, Welcome to Will's Page! <h1>

<h2> Will's Top 3 Albums <h2>

<ul>
    <li> Miseducation of Lauyrn Hill </li>
    <li> Kenny Loggins' Greatest Hits </li>
    <li> Veggie Tales: Silly Songs with Larry </li>
</ul>